extracted_files/comparecimento_abstencao.csv
extracted_files/deficiencias.csv
extracted_files/detalhe_votacao.csv
extracted_files/eleitorado_eleicao_capilaridade.csv
extracted_files/eleitorado_eleicao_tte.csv
extracted_files/eleitores_faltosos.csv
extracted_files/filiado_eleicao.csv
extracted_files/fundo_partidario.csv
extracted_files/justificativa.csv
extracted_files/mesarios.csv
extracted_files/motivos_cassacao.csv
extracted_files/pesquisas_eleitorais_contratantes_semcargo.csv
extracted_files/pesquisas_eleitorais_contratantes.csv
extracted_files/pesquisas_eleitorais.csv
extracted_files/processos_eleitorais_decisoes.csv
extracted_files/processos_eleitorais_recursos.csv
extracted_files/processos_eleitorais.csv
extracted_files/quociente-eleitoral.csv
extracted_files/receitas_candidatos.csv
extracted_files/vagas.csv
extracted_files/votacao_candidato.csv
extracted_files/votacao_partido.csv
extracted_files/candidatos.csv
terraform/.terraform.lock.hcl
terraform/LICENSE.txt
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/glue_job_test/csv_to_parquet.py
terraform/glue_job_test/unzip_glue_job.py
terraform/glue_job_test/unzip_glue_job.tf
terraform/glue_job_test/upload_script.tf
terraform/glue_job_test/upload_unzip_script.tf
terraform/glue_job_test/aws_glue_job_test.tf
terraform/terraform.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.91.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.91.0/windows_amd64/terraform-provider-aws_v5.91.0_x5.exe
extracted_files/candidatos_utf8.csv
extracted_files/comparecimento_abstencao_utf8.csv
extracted_files/deficiencias_utf8.csv
extracted_files/detalhe_votacao_utf8.csv
extracted_files/eleitorado_eleicao_capilaridade_utf8.csv
extracted_files/eleitorado_eleicao_tte_utf8.csv
extracted_files/eleitores_faltosos_utf8.csv
extracted_files/filiado_eleicao_utf8.csv
extracted_files/fundo_partidario_utf8.csv
extracted_files/justificativa_utf8.csv
extracted_files/mesarios_utf8.csv
extracted_files/motivos_cassacao_utf8.csv
extracted_files/pesquisas_eleitorais_contratantes_semcargo_utf8.csv
extracted_files/pesquisas_eleitorais_contratantes_utf8.csv
extracted_files/pesquisas_eleitorais_utf8.csv
extracted_files/processos_eleitorais_decisoes_utf8.csv
extracted_files/processos_eleitorais_recursos_utf8.csv
extracted_files/processos_eleitorais_utf8.csv
extracted_files/quociente-eleitoral_utf8.csv
extracted_files/receitas_candidatos_utf8.csv
extracted_files/vagas_utf8.csv
extracted_files/votacao_candidato_utf8.csv
extracted_files/votacao_partido_utf8.csv
Volume_de_vendas_no_comercio_varejista_ampliado.csv
terraform/analise_extra_job.py
terraform/script_unizp_convert.py
terraform/script_unizp_convert.py
