extracted_files/comparecimento_abstencao.csv
extracted_files/deficiencias.csv
extracted_files/detalhe_votacao.csv
extracted_files/eleitorado_eleicao_capilaridade.csv
extracted_files/eleitorado_eleicao_tte.csv
extracted_files/eleitores_faltosos.csv
extracted_files/filiado_eleicao.csv
extracted_files/fundo_partidario.csv
extracted_files/justificativa.csv
extracted_files/mesarios.csv
extracted_files/motivos_cassacao.csv
extracted_files/pesquisas_eleitorais_contratantes_semcargo.csv
extracted_files/pesquisas_eleitorais_contratantes.csv
extracted_files/pesquisas_eleitorais.csv
extracted_files/processos_eleitorais_decisoes.csv
extracted_files/processos_eleitorais_recursos.csv
extracted_files/processos_eleitorais.csv
extracted_files/quociente-eleitoral.csv
extracted_files/receitas_candidatos.csv
extracted_files/vagas.csv
extracted_files/votacao_candidato.csv
extracted_files/votacao_partido.csv
extracted_files/candidatos.csv
